{ 
  "aux"		        : "benchmarks/iccad04/ibm01/ibm01.aux",
  "num_bins"        : 512,
  "target_density"  : 1.02,
  "SpreadEnoughMoreDen"  : 0.01,
  "WeightIncreaseFactor" : 1.5,
  "min_inner_iter"  : 2,
  "max_inner_iter"  : 50,
  "TRUNC_FACTOR"    : 1.0,
  "BATCH_SIZE"      : 64, 
  "EPOCH"           : 20,
  "GAMMA"           : 0.90,
  "LR"              : 5e-4,
  "device"          : "cpu",
  "seed"            : 666,
  "useML"	        : false
}
